header {
  margin-top: 1em;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

  z-index: 1;

  display: none;
}

.button {
  display: inline-block;
  padding: 8px;
  background-color: black;
  background-color: var(--color-primary);
  color: white;
}

.button--close-map {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;

  height: 30px;
  width: 30px;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);

  box-sizing: border-box;

  display: none;
}

.button--close-map::after {
  content: '';
  display: block;
  transform: rotate(45deg);
  margin-top: -8.5px;
  margin-left: -8.5px;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
}

.button--close-map > img {
  transform: rotate(45deg);
}

#toggle-map:checked ~ #map {
  display: block;
}

#toggle-map:checked ~ .button--close-map {
  display: block;
}
