@font-face {
  font-family: "Helvetica";
  src: url("helvetica-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("helvetica-medium.woff") format("woff");
  font-weight: normal;
}

html {
  font-family: "Helvetica", sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 13vw;
  letter-spacing: -.55vw;
  margin-left: -.5vw;
}

h1 .accented {
  position: relative;
}

h1 .accented::after {
  content: "´";
  color: #00C288;
  position: absolute;
  right: 0.55ch;
  top: -0.35ch;
}

p {
  font-size: calc(16px + 1.5vw);
  line-height: 1;
}

header {
  margin: 8px;
}
