@font-face {
  font-family: "Helvetica";
  src: url("helvetica-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("helvetica-medium.woff") format("woff");
  font-weight: normal;
}

html {
  font-family: "Helvetica", sans-serif;
  background-color: #171717;
  color: white;
}

h1 {
  margin: 0;
  font-size: 13vw;
}

p {
  font-size: 32px;
  line-height: 1;
}
