@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-medium.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-medium-italic.woff") format("woff");
  font-style: italic;
}

html {
  --color-primary: #00df59;
  font-family: "Helvetica", sans-serif;
  font-size: calc(16px + 1.5vw);
}

body {
  line-height: 1.5;
  margin-top: 1rem;
}

h1 {
  margin: 0;
  font-size: 13vw;
  letter-spacing: -.55vw;
  margin-left: -.5vw;
}

h2 {
  margin-bottom: 0;
  margin-left: -.3vw;
  font-size: 1.6rem;
  letter-spacing: -.3vw;
}

body > footer {
  margin-top: 5rem;
}


ul {
  list-style: none;
  padding-left: 3vw;
}

li {
  position: relative;
}

li::before {
  display: inline-block;
  content: "—————";

  position: absolute;
  left: 0;

  color: var(--color-primary);
  letter-spacing: -.5vw;

  transform: translateX(-105%);
}

label,
a {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-primary);
          text-decoration-color: var(--color-primary);
}

.open-map {
  display: none;
}

small {
  font-size: .25rem;
}

.accented {
  position: relative;
}

.accented::after {
  content: "´";

  position: absolute;
  right: .04ch;
  top: -.35ch;

  color: var(--color-primary);
  line-height: 1.28;
}
